# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.sqlite3           # default dev database
db.sqlite3          # if using SQLite
*.log               # log files

# Environment
.env             # environment variables (API keys, secrets)
.venv
myenv/

# Django migrations for all apps in repo
**/migrations/*.pyc
**/migrations/*.py
**/migrations/__pycache__/

# IDE/editor settings
.vscode/

# File-based testing emails
**/emails/

# Media files
**/media/