{% extends "market/base.html" %} {% block title %}Create Store{% endblock %}
<!-- Prettier-ignore -->
{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm mb-5">
    <div class="card-body">
      <h2 class="text-center mb-4">Create a New Store</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Store</button>
      </form>
    </div>
  </div>
  <!-- Back button -->
  <div class="mb-3">
    <a href="{% url 'market:welcome' %}" class="btn btn-secondary">Back</a>
  </div>
</div>
{% endblock %}
