{% extends "market/base.html" %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Left column: image -->
    <div class="col-md-4 d-flex align-items-center">
      <img
        class="forgot-password"
        src="{% static 'market/images/man_with_keys.png' %}"
        alt="Forgot Password"
      />
    </div>

    <!-- Right column -->
    <div class="col-md-8">
      <h2 class="text-success">Success!</h2>
      <p>Your password was successfully changed!</p>
      <!-- Back button -->
      <div class="mb-3">
        <a href="{% url 'market:login' %}" class="btn btn-secondary"
          >Back to Login</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
